body {
  background-color: rgba(61, 70, 100, 0.86);
}

.contact {
  padding: 3em;
  text-align: right;
}

.contact span {
  margin-left: 0.5em;
  color: white;
}

.contact i {
  padding: 0.5em;
}

#logo {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#logo > img {
  width: 240px;
  height: 71px;
}
